{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<main class="main-container">
    <h2 class="form-title">Formulários Disponíveis</h2>
    <div class="card-container">
        {% if forms | length == 0 %}
            <p class="form-title">Nenhum formulário foi criado ainda.</p>
        {% else %}
            {% for form in forms %}
            <div class="card-form">
                <h3 class="form-title">{{ form.title }}</h3>
                <p class="form-description">{{ form.description }}</p>
                <a href="{{ url_for('main.get_form', form_id=form.id) }}">Ver formulário</a>
                <a href="{{ url_for('main.editar_form', form_id=form.id) }}">Editar formulário</a>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</main>

{% endblock %}