{% extends 'base.html' %}

{% block title %}Enviar Respostas do Formulário{% endblock %}

{% block content %}
<div class="container">
    <h1 class="form-title">{{ form.title }}</h1>
    <p class="form-description">{{ form.description }}</p>
    <form id="formResponse" method="POST" action="{{ url_for('obterResposta', form_id=form.id) }}">
        <div id="questionsContainer">
            {% for question in form.questions %}
            <div class="question-content">
                <div class="content">
                    <label class="question-text">{{ question.text }}</label>

                    {% if question.question_type == QuestionType.SHORT_ANSWER %}
                    <input type="text" class="form-input short-answer" id="shortAnswer_{{ question.id }}" name="response_text_{{ question.id }}" required>
                    <span id="titleError" class="text-error" style="display: none;">Respostas curtas não podem ultrapassar 200 caracteres.</span>
                    {% elif question.question_type == QuestionType.LONG_ANSWER %}
                    <textarea class="form-input" name="response_text_{{ question.id }}" required></textarea>

                    {% elif question.question_type == QuestionType.MULTIPLE_CHOICE %}
                    <div class="choices-container">
                        {% for choice in question.choices %}
                        <div class="choice-item">
                            <input type="radio" class="form-check-input" name="choice_id_{{ question.id }}"
                                value="{{ choice.id }}" required>
                            <span class="choice-text">{{ choice.text }}</span>
                        </div>
                        {% endfor %}
                    </div>

                    {% elif question.question_type == QuestionType.CHECKBOX %}
                    <div class="choices-container">
                        {% for choice in question.choices %}
                        <div class="choice-item">
                            <input type="checkbox" class="form-check-input" name="choice_ids_{{ question.id }}"
                                value="{{ choice.id }}">
                            <span class="choice-text">{{ choice.text }}</span>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="submit-container">
            <button type="submit" class="create-btn">Enviar Respostas</button>
        </div>
    </form>
</div>
<script src="{{ url_for('static', filename='js/validar.js') }}"></script>
{% endblock %}